<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.Nursery" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >




        <activity
            android:name="app.Nursery.LoginActivity"
            android:label="@string/app_name" >

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="app.Nursery.CreateUserActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ParentsActivity"
            android:label="@string/app_name" />

        <activity
            android:name="app.Nursery.MainActivity"
            android:label="@string/app_name" />

        <activity
            android:name="app.Nursery.JSONParser"
            android:label="@string/app_name" />

        <activity
            android:name="app.Nursery.UserDetailsActivity"
            android:label="@string/app_name" />

        <activity
            android:name="app.Nursery.UserDetailsTable"
            android:label="@string/app_name" />

        <activity
            android:name="app.Nursery.RestAPI"
            android:label="@string/app_name" />


        <activity
            android:name="app.Nursery.ParentsTable"
            android:label="@string/app_name" />
    </application>

</manifest>
